// --------------------------------------------------
// Variables
// --------------------------------------------------

// Container Sizes
$container: 1024px;

// Font Sizes
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 24px;

// Main Colors
$color-font: #474747;
$color-main: #5392c7;
$color-sub: #b1d8e9;
$color-key: #e490b2;